<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ site.baseurl }}/">
                    <img src="/img/italian-flag.png" style="margin: 0px">
            </a></li>
            <li><a href="{{ site.baseurl }}/english">
                    <img src="/img/american-flag.png" style="margin: 0px">
            </a></li>
        </ul>
    </div>
</nav>
