<footer class="site-footer">

  <div class="container">

      <h2 class="footer-heading" style="text-align: center; margin-top: 4em;">
          <small class="text-muted">
              <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
          </small>
          {{ site.title }}
          <small class="text-muted">
              <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
          </small>
      </h2>

  </div>

</footer>
