<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="wrapper main-body">
      {% if page.feature_image %}
        <style>
          .image-header {
            background-image: url({{ page.feature_image }});
          }
        </style>
        <header class="image-header">
          <h1 class="post-title">{{ page.title }}</h1>
        </header>
      {% else %}
        <header class="post-header">
          <h1 class="post-title">{{ page.title }}</h1>
        </header>
      {% endif %}

      <div class="post-content">
        {{ content }}
      </div>
    </div>

    {% comment %}
    {% include footer.html %}
    {% endcomment %}

  </body>

</html>
